body {
  margin: 5%;
  background-color: #000000;
  color: #FFFFFF;
}
a {
  color: #b5e9d3;
}
h1 {
  color: #39e09b;
}
h3 {
  color: #39e09b;
}
hr {
  border-style: none;
  border-top: 5px dotted #39e09b;
  width: 50px;
}
